<app-menu></app-menu>
<div class="container">

  <div class="col">
    <h1>Notes</h1>
    <div class="row">
      <app-notes></app-notes>
    </div>
    
  </div>

  <div class="col">
    <h1>Gammes</h1>
    <app-gammes></app-gammes>
  </div>

  <div class="col">
    <h1>Accords</h1>
    <app-accords></app-accords>
  </div>
</div>

<style>
  .row {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
  }

  h1 {
    border-bottom: 3px solid red;
    margin-bottom: 20px;
  }
</style>